<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="#">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js" type="module"></script>
    <title>Typing Speed Test</title>
</head>

<body>
    <div id="app">
        <h1 id="title">Typing Speed Test</h1>
        <div id="dashboard">
            <p id="clock">{{ time }}s</p>
            <button id="restart" v-if="started" @click="restart"><img src="restart.png" alt="restart button"></button>
            <p id="pace">{{ pace }} WPM</p>
        </div>
        <input @input="inputHandler" v-model="inputText" :autofocus="true">
        <p id="text">
            <span v-for="(char, index) in textObject" :key="index" :id="index" :class="char.state">
                {{ char.char }}
            </span>
        </p>
    </div>
</body>

</html>