body {
  background-color: #323437;
  color: #d1d0c5;
}
#title {
  text-align: center;
}
input {
  opacity: 0;
  width: 0;
  height: 0;
}
input,
#text {
  font-family: monospace;
  font-size: 25px;
}
input {
  background-color: #ddd;
  border: none;
}
#clock {
  color: rgb(217, 217, 0);
  font-size: 1.5rem;
  width: 70%;
  margin: auto
}
#text {
  color: grey;
  width: 70%;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #555;
}
.good {
  color: #d1d0c5;
}
.wrong {
  color: red;
  background-color: red;
}
